.signupScreen {
  max-width: 450px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
  margin-top: 4rem;
  border-radius: 5px;
}

.login-form > h1 {
  text-align: left;
  margin-bottom: 25px;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.login-form {
  display: grid;
  flex-direction: column;
}

.inputfield {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.login-form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #795744;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.text-container {
  color: #737373;
  margin-top: 1rem;
}

.text-container > span {
  color: #fff;
}

