.cart-totals {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.cart-totals article {
  border: 1px solid var(--clr-grey-8);
  border-radius: var(--radius);
  padding: 1.5rem 3rem;
}
.cart-totals h4 {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.cart-totals h5 {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.cart-totals p {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.cart-totals p {
  text-transform: capitalize;
}
.cart-totals h4 {
  margin-top: 2rem;
  color: var(--clr-grey-1);
}
@media (min-width: 776px) {
  .cart-totals {
    justify-content: flex-end;
  }
  .cart-totals .btn {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
  }
}
