.error-container .message-container {
  margin-bottom: 1em;
  padding: 0.4em 0.2em;
}
.error-container .message-container p {
  margin-left: 0.5em;
  text-align: left;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;
}
.error-container .error {
  border: 1px solid #d9534f;
  border-left: 2.5px solid #d9534f;
  background-color: rgba(217, 83, 79, 0.1);
}
.error-container .error p {
  color: #d9534f;
}
.error-container .success {
  border: 1px solid #2b542c;
  border-left: 4px solid #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}
.error-container .success p {
  color: #2b542c;
}
.error-container .validation {
  border: 1px solid #f0ad4e;
  border-left: 4px solid #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
  color: #f0ad4e;
}
.error-container .validation p {
  color: #f0ad4e;
}
