.hero .section-center {
  min-height: 60vh;
  display: grid;
  place-items: center;
}
.hero .img-container {
  display: none;
}

.hero .section-center p {
  line-height: 2;
  max-width: 45em;
  margin-bottom: 2rem;
  color: var(--clr-grey-5);
  font-size: 1rem;
}

@media (min-width: 992px) {
  .hero .section-center {
    height: calc(100vh - 5rem);
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }
  .hero .section-center h1 {
    margin-bottom: 2rem;
  }
  .hero .section-center p {
    font-size: 1.25rem;
  }
  .hero .hero-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
  .hero .img-container {
    display: block;
    position: relative;
  }
  .hero .main-img {
    width: 100%;
    height: 550px;
    position: relative;
    border-radius: var(--radius);
    display: block;
    object-fit: cover;
  }
  .hero .accent-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    transform: translateX(-50%);
    border-radius: var(--radius);
  }
  .hero .img-container::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 80%;
    background: var(--clr-primary-9);
    bottom: 0%;
    left: -8%;
    border-radius: var(--radius);
  }
}
