.about {
  display: grid;
  gap: 4rem;
}

.about img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  height: 500px;
  object-fit: cover;
}
.about p {
  line-height: 2;
  max-width: 45em;
  margin: 0 auto;
  margin-top: 2rem;
  color: var(--clr-grey-5);
}
.about .title {
  text-align: left;
}
.about .underline {
  margin-left: 0;
}

@media (min-width: 992px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }
}
