.amount-btns {
  display: grid;
  width: 140px;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
}

.amount-btns button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 1rem 0px;
  width: 2rem;
  height: 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.amount-btns h2 {
  margin-bottom: 0px;
}
