.product-images .main {
  height: 600px;
}
.product-images img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  object-fit: cover;
}
.product-images .gallery {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
}
.product-images .gallery img {
  height: 100px;
  cursor: pointer;
}
.active {
  border: 2px solid var(--clr-primary-5);
}
